@charset "utf-8";
*{margin:0;padding:0;}
html{max-width: 640px;margin: 0 auto;}
body{font-family:'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif;font-size: 16px;
    color:#333;background:#fff;margin:0 auto;min-width:320px;max-width:640px;line-height: 1.7;}
img{border:0;width:100%;}
ol,ul{list-style:none}
a{color:#333;text-decoration:none}
body *{box-sizing:inherit}
.cfx:after{clear:both}
.pr{position:relative}
.pa{position:absolute}
.green{color: #0f9a93;}
.wx{background: yellow;color: #f00;}
.lazy{display:block}
.center{text-align:center;margin-top:10px;font-size: 17px;}
/*#header{height: 42.2em;background: url(../images/tg1-1.jpg) no-repeat center center;
    -webkit-background-size: 106% 100%;
    background-size: 113% 100%;}*/
.banner{position: relative;margin-bottom: 10px;}
.title1{width:45%;top:15%;left:0%;z-index:2}
.zi1{z-index:1;}
.rock1{
    -webkit-animation:swing 1s .2s ease both;
    -moz-animation:swing 1s .2s ease both;}
.btn_1{width:25%;top:60%;right:2%}
.rock2{
    animation: clock 1.5s ease infinite alternate;
    -webkit-animation: clock 1.5s ease infinite alternate;
    -moz-animation: clock 1.5s ease infinite alternate;
    -ms-animation: clock 1.5s ease infinite alternate;
    -o-animation: clock 1.5s ease infinite alternate;
}
.top_name{position: absolute;left: 3%;bottom: 3%;width: 27%;}

.main{min-height:640px;background:#fff;padding: 0 10px;text-align: justify;}
.content{margin:8px 0;color:#333;word-break:break-word;padding-bottom:8px;}
.pic7{border: 4px solid #0f9a93;}
.pic7 img{width: 100%;}
.pic7 .btn_2{width:63%;bottom:18%;right:0;position: absolute;text-align: center;}
.pic7 .btn_2 a{background: #0f9a93;padding: 10px 10px;color: #fff;border-radius: 0.5em;
    font-size: 0.9rem;}
.pic7 .btn_2{
    animation: clock 1.5s ease infinite alternate;
    -webkit-animation: clock 1.5s ease infinite alternate;
    -moz-animation: clock 1.5s ease infinite alternate;
    -ms-animation: clock 1.5s ease infinite alternate;
    -o-animation: clock 1.5s ease infinite alternate;
}
.title{margin-top: 20px;background: #0f9a93;color: #fff;font-size: 1.3em;margin-bottom: 10px;
    padding: 5px 10px;}
.article{margin:10px auto;max-width:100%;border:1px solid #c5c8cc;text-align:center;padding-bottom: 15px;
    border-radius:5px;box-shadow:#fff 0 1px 0,#c5c8cc 0 2px 0,#fff 0 3px 0,#c5c8cc 0 4px 0;}
.a_top{max-width:100%;height:25px;border-radius:4px 4px 0 0;background-color:#dbdbdd;}
.a_top_l, .a_top_r{max-width:100%;display:inline-block;height:14px;width:14px;
    border-radius:7px;background:#adadad;}
.a_top_l{margin:0 100px 0 0;}
.page_bottom{margin:30px 0 0;max-width:100%;height:14px;width:14px;border-radius:7px;
    background-color:#dedede;}
.page_middle{margin:-37px 0 0 3px;max-width:100%;width:8px;height:30px;
    border:1px solid #cacaca;border-radius:3px;background-color:#fff}
.a_con{padding: 0 5px;margin-top: 30px;text-align: justify;line-height: 1.8;}
.yead_color{color: #0f9a93;line-height: 28px;font-size: 1.15em;padding: 0px 2px 3px;}
.yead_bgc{line-height: 28px; float: left;display: inline-block;font-size: 18px;padding: 4px 10px; 
    border-radius: 80% 100% 90% 20%;color: #fff;margin: -5px 8px 0 0;background: #0f9a93;}
.text{clear:both;min-height:1em;text-indent:2em;}

.case{border: 1px solid #ccc;margin: 15px 0;padding: 10px 5px;}
.case .info{width: 100%;margin: 0 auto;line-height: 1.6; }
.p_img img{width: 100%;}
.p_img{text-align: center;}
.border1{border: 2px solid #f1f1f1;margin-top: 20px;}
.border2{border: 8px solid #fff;}
.border2 p{border: 3px solid #e5e5e5;padding: 5px 10px;}

.case .info{/*border: 2px solid #0f9a93;*/padding: 5px;}
.info p{font-size: 17px ;font-weight: bold;}
.info p strong{background: #04b6ad;color: #fff;padding: 1px 5px;border-radius: 6px;}
.com_tit{margin: 10px 0 20px;border-bottom: 1px solid #333;height: 53px;
    font-size: 20px;}
.com_tit p{color: #999;font-weight: bold;}
.com_tit div{text-align: center;}
.com_tit strong{padding: 5px 15px;background: #fff;margin-bottom: -30px;}
.comment{ padding:15px; overflow: hidden; background: #f3f3f3; }
.comment .item{ padding:15px 0; overflow: hidden; border-bottom: #cecece 1px solid; }
.comment .item:last-child{ border-bottom: none; }
.comment .portrait{ float: left; width: 50px; height: 50px; border-radius: 100%; overflow: hidden; margin-right: 10px; }
.comment .right{ overflow: hidden; }
.comment .own{ margin-bottom: 10px; }
.comment .reply{ padding-top: 10px; border-top:#e1e1e1 1px solid; }
.comment .t{ margin-bottom: 5px; }
.comment .name{ color: #3990e6; }
.comment .region{color: #999;font-size: 0.9em;}
.comment .detail{ color: #666;line-height: 25px;}
.footer{margin-bottom: 2.5em;line-height: 20px;margin: 0 auto;}

.bottom_btn{width:100%;margin:0 auto;height: 4em;max-width:640px;position:fixed;bottom:0;z-index:100;
    background: #04b6ad;}
.btn_img{width: 4.5em;border-radius: 50%;position: absolute;bottom: 0;border: 3px solid #0f9a93;
    left: 5px;}
.b_txt{padding-left: 5em;padding-top: 8px;line-height: 1.4;font-size: 1.15em;
    color: #fff;font-weight: bold;display: inline-block;}
.bottom_btn .pa{bottom:10px;z-index:3;right:5px;padding: 4px 8px 3px;background: #fff;
    border-radius: 8px;text-align: center;font-size: 1.15em;}
.bottom_btn .pa a{color: #04b6ad;}
.bottom_btn .pa{display:block;  animation: clock 1.5s ease infinite alternate;
    -webkit-animation: clock 1.5s ease infinite alternate;
    -moz-animation: clock 1.5s ease infinite alternate;
    -ms-animation: clock 1.5s ease infinite alternate;
    -o-animation: clock 1.5s ease infinite alternate;}

/* 动画 */
@keyframes clock{ 
    0%{transform: scale(0.9);}
    18%{transform: scale(1);}
    32%{transform: scale(0.9);}
    48%{transform: scale(1);}
    64%{transform: scale(0.9);}
    80%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-webkit-keyframes clock{ 
    0%{transform: scale(0.9);}
    18%{transform: scale(1);}
    32%{transform: scale(0.9);}
    48%{transform: scale(1);}
    64%{transform: scale(0.9);}
    80%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-moz-keyframes clock{ 
    0%{transform: scale(0.9);}
    18%{transform: scale(1);}
    32%{transform: scale(0.9);}
    48%{transform: scale(1);}
    64%{transform: scale(0.9);}
    80%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-o-keyframes clock{ 
    0%{transform: scale(0.9);}
    18%{transform: scale(1);}
    32%{transform: scale(0.9);}
    48%{transform: scale(1);}
    64%{transform: scale(0.9);}
    80%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-ms-keyframes clock{ 
    0%{transform: scale(0.9);}
    18%{transform: scale(1);}
    32%{transform: scale(0.9);}
    48%{transform: scale(1);}
    64%{transform: scale(0.9);}
    80%{transform: scale(1);}
    100%{transform: scale(0.9);}
}
@-webkit-keyframes flipInX{
    0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
    40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateX(10deg)}
    100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-moz-keyframes flipInX{
    0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}
    40%{-moz-transform:perspective(400px) rotateX(-10deg)}
    70%{-moz-transform:perspective(400px) rotateX(10deg)}
    100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}
}
@-webkit-keyframes flipInY{
    0%{-webkit-transform:perspective(400px) rotateY(90deg);
    opacity:0}
    40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
    70%{-webkit-transform:perspective(400px) rotateY(10deg)}
    100%{-webkit-transform:perspective(400px) rotateY(0deg);
    opacity:1}
}
@-moz-keyframes flipInY{
    0%{-moz-transform:perspective(400px) rotateY(90deg);
    opacity:0}
    40%{-moz-transform:perspective(400px) rotateY(-10deg)}
    70%{-moz-transform:perspective(400px) rotateY(10deg)}
    100%{-moz-transform:perspective(400px) rotateY(0deg);
    opacity:1}
}
@-webkit-keyframes swing{
    20%,40%,60%,80%,100%{
    -webkit-transform-origin:top center}
    20%{-webkit-transform:rotate(15deg)}
    40%{-webkit-transform:rotate(-10deg)}
    60%{-webkit-transform:rotate(5deg)}
    80%{-webkit-transform:rotate(-5deg)}
    100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes swing{
    20%,40%,60%,80%,100%{-moz-transform-origin:top center}
    20%{-moz-transform:rotate(15deg)}
    40%{-moz-transform:rotate(-10deg)}
    60%{-moz-transform:rotate(5deg)}
    80%{-moz-transform:rotate(-5deg)}
    100%{-moz-transform:rotate(0deg)}
}
@media screen and (min-width:320px) {
    body, html {font-size: 13.5px;}
}
@media screen and (min-width:360px) {
    body, html {font-size: 15px;}
}
@media screen and (min-width:375px) {
    body, html {font-size: 15.5px;}
}
@media screen and (min-width:414px) {
    body, html {font-size: 16px;}
}
@media screen and (min-width:720px) {
    .pic7 .btn_2 a{font-size: 1.5em;border-radius: 10px;}
}
.main_content {width:98%;max-width:700px;margin:0 auto;background:#fff;}

.fade {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
    
}
.fade.in {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    
    
}

.fade .modal-sm {
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    -o-transform: translate(0, -10%);
    transform: translate(0, -10%);
}
.fade.in .modal-sm{
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0,0,0,.3);
}
.modal h4{
 font-size: 0.8em;
}
.bs-example-modal-sm {
    width: 100%;
    line-height: 45px;
    font-family: 'ºÚÌå';
    font-size: 1.6em;
    border-bottom: 2px #ddd solid;
    text-align: center;
    display:none;
}
.modal-sm {
    width: 300px;
}
.modal-dialog {
    margin: 30px auto;
    
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-body {
    position: relative;
    padding: 15px;
}
.qbkz{
    margin-right:5px;
    margin-left:5px;
}
#mydel{position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: -16px;
    top: 82px;
    background: rgba(0,0,0,.85);
    color: #fff;
    border-radius: 50px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    }
   /*  弹框 */
.qq_Mask {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin:0 auto;
    background: rgba(0,0,0,.75);
    z-index: 1000000000;
    display: none;
    text-align:center;
}
.qq_Mask .pr{
    top: 5rem;
    max-width: 350px;
    margin: 0 auto;
}
.qq_Mask .tp img {
    position: absolute;
    top: 8rem;
}
.qq_Mask .Mask_txt {
    position: absolute;
    width: 98%;
    left: 0rem;
    top: 20%;
    margin: auto 1%;
    padding: 3rem 0;
    background: #FFF;
    border: 5px solid #2680d8;
    border-radius: 15px;
}


.qq_Mask .Mask_txt h3 {
    font-weight: bold;
margin-bottom: .6rem;
}
.qq_Mask .Mask_txt p {
    text-align: center;
    margin-top: .6rem;
    font-size: 1.2rem;
    color: #9b9b9b;
}
.qq_Mask .close_Mask {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: -7px;
    top: 20%;
    line-height: 40px;
    background: rgba(0,0,0,.85);
    color: #fff;
    border-radius: 50px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.wechat {
    background: #ffff00;
    text-align: center;
    padding: .4rem 0;
    margin-bottom: 1rem;
}
.wechat span {
    background: #e60012;
    color: #000;
    padding: .1rem .3rem;
}
.Link {
    color: #66b3ff;
    text-decoration: underline;
}
.Mask_wechat {
    background: #2680D8;
    padding: .5rem 0 .7rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    width: 78%;
    margin: .6rem auto 0;
    border-radius: .5rem;
}
.Mask_txt a {
    color:black;
}
